@model List<Book>

<div class="mt-5 container">
    <h2>Book</h2>
                    <a asp-controller="Home" asp-action="Index">Click Me</a>

    <div>
        <table class="mt-5">
            <tr>
                <th>Name</th>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </table>
    </div>
</div>
