@model List<Employee>
<div class="mt-5 container">
    <h2>Employee</h2>
                    <a asp-controller="Home" asp-action="Index">Click Me</a>

    <div>
        <table class="mt-5">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Salary</th>
                <th>Age</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Age</td>
                    <td>@item.Salary</td>
                </tr>
            }
        </table>
    </div>
</div>